*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f5ed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* CSS FOR NAV BAR */

nav{
    padding: 20px 10%;
    height: 15vh;

}
nav ul{
    display: flex;
    align-items: center;
    /* gap: 30px; */
}
nav ul li{
    list-style: none;
    margin-right: 5%;
    font-weight: 500;
}

/* CSS FOR MAIN SECTION */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.leftmain{
    width: 50%;
}
.leftmain h1{
    font-size: 82px;
}
.leftmain p{
    margin: 5% 0;
    font-size: 25px;
}
.leftmain button{
    padding: 15px 20px;
    border: none;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}
.rightmain{
    width: 50%;
}